
/* Footer */
.footer {
	padding: 0;
}

	#footer {
		background: #f8f8f8;
		padding: 4em 0 6em 0;
	}

		#footer a {
			color: inherit;
		}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9em;
			margin: 2em 0 0 0;
			padding: 0;
			text-align: center;
		}

			#footer .copyright li {
				border-left: solid 1px rgba(144, 144, 144, 0.25);
				border-bottom: 0;
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

				#footer .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

		#footer .icons a {
			color: #bbb;
			
		}
		
		#footer li {
			list-style: none;
		}