<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<div id="top">
	<div data-sly-resource="${'hero' @ resourceType='demo/components/structure/hero'}"></div>
		<section id="one" class="wrapper style1" >
			<header class="major">
				<h2>Ipsum feugiat consequat</h2>
				<p>Tempus adipiscing commodo ut aliquam blandit</p>
			</header>
			<div data-sly-resource="${'grid' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
		</section>
	<sly data-sly-include="${'footer' @ resourceType='footer.html'}"></sly>
</div>
